.get-started-button {
  background-color: var(--color-primary);
  border-radius: 2.8rem;
  padding: 1.4rem 4.1rem;
  color: var(--color-white);
  border: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  font-size: var(--font-size-text);
  font-weight: bold;
  line-height: 2.8rem;
  outline: none;
  font-family: "Kumbh Sans", sans-serif;
}

.get-started-button:hover {
    background-color: var(--color-accent);
}
